.dialog-component {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--light-opacity-background);
  position: absolute;
  top: 0;

  .dialog-container {
    flex-direction: column;
    display: flex;
    max-width: 90vw;
    background-color: var(--primary-background);
    padding: 20px;
    gap: 20px;
    .dialog-header {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .button-component {
        &:hover {
          .dialog-close-icon {
            background-color: var(--primary-color);
            color: var(--primary-background);
          }
        }
      }
    }
  }
}
