:root {
  /* colors */
  --primary-color: #038fc6;
  --primary-light-color: #8bdeff;

  /* Container colors */
  --border-color: #c6c6c6f6;
  --light-opacity-background: rgba(0, 0, 0, 0.8);
  --primary-background: #fff;

  /* font-size */
  --font-small-size: 0.8rem;
  --font-regular-size: 1rem;
  --font-large-size: 1.5rem;
  --font-title-size: 2em;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  vertical-align: baseline;
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  border: none;
}

body {
  margin: 0;
  display: flex;
  min-height: 100vh;
  width: 100%;
  padding: 20px;

  #root {
    width: 100%;
    height: 100%;
    #main {
      width: 100%;
    }
  }
}

.color-variant {
  &-primary {
    color: var(--primary-color);
  }
  &-primary-light {
    color: var(--primary-light-color);
  }
  &-secondary {
    color: var(--secondary-color);
  }
}
