.star-wars-dashboard {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;

  .star-wars-dashboard-menu {
    display: flex;
    gap: 20px;
    padding: 20px;
    justify-content: space-between;
    flex-wrap: wrap;

    .star-wars-dashboard-sort {
      display: flex;
      align-items: end;
    }

    .star-wars-dashboard-filters {
      display: flex;
      flex-direction: column;
      gap: 8px;

      .star-wars-dashboard-filters-inputs {
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
      }
    }
  }
}
