.table-component {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 40px;

  &.clickable {
    table {
      tbody {
        tr {
          &:hover td:not(.no-data-row) {
            background: var(--primary-light-color);
            cursor: pointer;
          }
        }
      }
    }
  }

  table {
    width: 100%;
    border-collapse: collapse;
    thead {
      tr {
        th {
          height: 45px;
          vertical-align: middle;
        }
      }
    }

    tbody {
      tr {
        height: 30px;
        border-top: 1px solid var(--border-color);
        td {
          padding: 2px 8px;
          vertical-align: middle;
        }
      }
    }
  }

  .table-pagination {
    display: flex;
    flex-direction: column;
    gap: 8px;

    .table-pagination-info {
      display: flex;
      gap: 8px;
      justify-content: center;
    }
    .table-pagination-buttons {
      display: flex;
      gap: 20px;
      width: 100%;
      display: flex;
      justify-content: center;
    }
  }
}
